body
	font-family: Roboto, Arial, serif
/*
	input, textarea
		margin: 0
		letter-spacing: normal
		word-spacing: normal
		text-transform: none
		text-indent: 0
		text-shadow: none
		text-align: start */
#container
	position: absolute
	left: 0px
	right: 0px
	top: 0px
	bottom: 0px
	z-index: 0
#search-bar
	position: fixed
	top: 10px
	left: 30px
	width: 20%
	z-index: 10
	padding: 10px
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2)
	border: none
#info-pane
	position: fixed
	top: 55px
	left: 30px
	width: 20%
	z-index: 10
	padding: 10px
	background-color: #fff
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2)
	transition: height 0.5s
	opacity: 0
	height: 100px
.flipInX
	-webkit-animation-duration: 1s
	-webkit-animation-delay: .2s
	-webkit-animation-timing-function: ease
	-moz-animation-duration: 1s
	-moz-animation-delay: .2s
	-moz-animation-timing-function: ease
	-ms-animation-duration: 1s
	-ms-animation-delay: .2s
	-ms-animation-timing-function: ease
	-o-animation-duration: 1s
	-o-animation-delay: .2s
	-o-animation-timing-function: ease
	animation-duration: 1s
	animation-delay: .2s
	animation-timing-function: ease
.building-element
	padding: 0
	margin: 0
	background-color: #ddd
	width: 200px
	height: 200px
	overflow: hidden
	margin-bottom: 5px
	img
		width: inherit
		height: inherit
		z-index: 1
	.name
		display: none
		position: relative
		top: -100px
		z-index: 2
	&:hover .name
		display: block
	&:hover img
		opacity: .3
/* Here are some modifiers for various alternate sizes. */
.large
	width: 400px
	height: 400px
.wide
	width: 400px
.tall
	height: 400px
/* width is set over so that we ensure complete coverage and allow for extra room for parallax. */
#bg
	position: fixed
	background-attachment: fixed
	background-repeat: repeat-y
	background-size: 100% auto
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: .3