#container
	position: absolute
	left: 0px
	right: 0px
	top: 0px
	bottom: 0px
	z-index: 0
#search-bar
	border-radius: 5px
	position: absolute
	top: 10px
	left: 30px
	width: 200px
	z-index: 1
.building-element
	background-color: red
	position: relative
	border: 1px solid black
	width: 200px
	height: 200px
	overflow: hidden
