canvas
	position: absolute
	top: 75px
	bottom: 0px
	left: 0px
	right: 0px

#header
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	height: 75px	
	margin: 0px
	padding: 0px
	font-family: serif
	font-size: 10px
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
	h1
		font-family: 'Sonsie One', cursive
		color: #444
		padding: 2px
		font-size: 50px
		display: inline

#search-bar
	font-family: 'Open Sans', sans-serif
	border-radius: 5px
	height: 30px
	width: 300px
	margin-left: 200px
	margin-top: 10px
	padding: 2px
	display: inline