<!DOCTYPE html>
<html>
	<head>
		<title>bldg</title>
		<meta charset="utf-8"></meta>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
		<!-- Contains EaselJS TweenJS SoundJS and PreloadJS -->
		<script src="http://code.createjs.com/createjs-2013.05.14.min.js"></script>
		<script src="/static/js/thumbnailer.js"></script>
		<script src="/static/js/appAlt.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesAlt.css"></link>
	</head>
	<body>
		<div id="header">
			<h1>bldg</h1>
			<input type="text" id="search-bar" placeholder="Search here..."></input>
		</div>
		<canvas id="canvas"></canvas>
	</body>
</html>