<html>
	<head>
		<title>bldg</title>
		<meta charset="utf-8"></meta>
		<link href="/static/css/styles.css" rel="stylesheet" type="text/css"></link>
	</head>
	<body>
		<div id="header">bldg</div>
        <form id="login" action="/login" method="post">
            <input type='text' name='username'></input><br />
            <input type='password' name='password'></input><br />
            <input type='submit' value='Login'></input>
        </form>
        <a href="/register">Click here to register a new account</a>
        <div id="footer">Copyright 2013 Max Dietz and Jack Phillips</div>
    </body>
</html>